.components-layout {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin: 60px;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--semi-shadow-elevated);
  color: var(--semi-color-text-1);
}

.components-layout .semi-layout-header {
  box-sizing: border-box;
  height: 64px;
  padding-left: 50px;
  padding-right: 50px;
  background: var(--semi-color-fill-0);
  align-items: center;
  display: flex;
  justify-content: center;
}

.components-layout .semi-layout-content {
  box-sizing: border-box;
  height: 300px;
  display: flex;
  justify-content: center;
}

.components-layout .semi-layout-footer {
  box-sizing: border-box;
  height: 64px;
  line-height: 64px;
  padding-left: 50px;
  padding-right: 50px;
  background: var(--semi-color-fill-0);
}

.roompanel {
  width: 150px;
}

.roompanel.user {
  display: flex;
}

.TopPanel {
  display: flex;
  justify-content: center;
}

.TopPanel .item{
  align-self: center;
}