.app {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px 2px 16px;
}

.semi-form-field-label-text::after{
  display: none;
}